#hide_login {
  display: none;
}
#hide_signup {
  display: none;
}

#img_table {
  width: 50%;
  display: inline-block;
}
#go_dash {
  width: 45%;
  display: inline-block;
}
#rounded1 {
  width: 60%;
  background-color: #bdf;
  border: 2px solid rgb(255, 255, 255);
  padding: 0.5em;
  line-height: 1em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  background-size: cover;
}

#rounded1:before {
  content: '';
  padding-top: 100%; /* 1:1 비율 */
  display: inline-block;
}

#start_dash {
  color: white;
  margin-top: -15px;
}

#hide_dash {
  display: none;
}

#user_infro {
  font-size: 15px;
}
#dvAuth {
  background-color: rgba(255, 255, 255, 0);
}
.login_title {
  color: white;
}
#back {
  cursor: pointer;
}

#user_info {
  color: white;
}
#logoutbtn {
  color: white;
  cursor: pointer;
}

.btnGroup {
  padding-bottom: 10px;
}
.btnGroup li {
  position: relative;
  cursor: pointer;
  display: block;
  height: 46px;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  margin: 10px auto;
  border-radius: 4px;
}
.btnGroup li i {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
#liGoogleBtn {
  background: rgb(255, 255, 255);
  border: 1px solid #dadce0;
  color: #1f2023 !important;
}
#liGoogleBtn i {
  background: url(../images/app-promo/icon_google.svg) 50% no-repeat;
}
#liEmailBtn {
  background: #2d5399;
}
#liEmailJoin,
#liEmailJoinSubmit {
  background: #ffb300;
}
#dvSocial {
  position: relative;
}
#liLogOut {
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
  user-select: none;
  height: 50px;
  line-height: 30px;
}
#liLogOut:hover {
  background: #f7f7f7;
}
.input-text {
  box-sizing: border-box !important;
  display: block;
  width: 100% !important;
  padding: 0 17px !important;
  margin-bottom: 7px !important;
  height: 46px !important;
  line-height: 45px;
  font-size: 13px !important;
  color: #4a4a4a !important;
  background: #fff;
  border: 1px solid #e4e4e4 !important;
  outline: none !important;
  border-radius: 4px;
}

.login-btn {
  color: white;
  font-size: 1.05em;
}

.login-btn i {
  margin-right: 3px;
}

#typed {
  font-size: 57px;
}

#text_login {
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 12%,
    rgba(0, 0, 0, 0.65) 22%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0) 83%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 12%,
    rgba(0, 0, 0, 0.65) 22%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0) 83%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.65) 12%,
    rgba(0, 0, 0, 0.65) 22%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0) 133%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  border: 1px;
  
}
