.carousel {
  box-shadow: none;
}

#highest_nav {
  padding-left: 10%;
  padding-right: 10%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.322);
}

/* 고정 상단 네비게이션 바 */
#toolbar_menu {
  cursor: pointer;
}

#page-wrapper {
  position: relative;
  z-index: 3;
}

.dynamic_underline:hover {
  transition-duration: 0.1s;
  border-bottom: 0.2em inset white;
}

/* 1200 992 768  */

@media (min-width: 1200px) {
  .trimm_phone {
    width: 90%;
    height: 90%;
    padding-top: 10%;
    /* padding-top:20%; */
    /* padding-bottom:50%; */
  }
}

@media (max-width: 768px) {
  .trimm_phone {
    width: 90%;
    height: 90%;
    /* padding-top:10%; */
  }
}

@media (max-width: 992px) {
  /* #left_feature{
        height: 10px;
    } */
  /* .Bigtable{
        height: 800px !important;
    } */
  .Bigtable {
    /* padding-top:100%;
        margin-top:-100%; */
    width: 768px !important;
    height: 768px !important;
    padding-top: 20% !important;
    margin-top: -20% !important;
  }
}

@media (max-width: 768px) {
  .Bigtable {
    width: 700px !important;
    height: 700px !important;
    padding-top: 20% !important;
    margin-top: -20% !important;
  }
}
@media (max-width: 700px) {
  .Bigtable {
    width: 600px !important;
    height: 600px !important;
    padding-top: 20% !important;
    margin-top: -20% !important;
  }
}
@media (max-width: 600px) {
  .Bigtable {
    width: 500px !important;
    height: 500px !important;
    padding-top: 20% !important;
    margin-top: -20% !important;
  }
}
@media (max-width: 500px) {
  .Bigtable {
    width: 400px !important;
    height: 400px !important;
    padding-top: 20% !important;
    margin-top: -20% !important;
  }
}
@media (max-width: 400px) {
  .Bigtable {
    width: 300px !important;
    height: 300px !important;
    padding-top: 20% !important;
    margin-top: -20% !important;
  }
}
@media (max-width: 300px) {
  .Bigtable {
    width: 200px !important;
    height: 200px !important;
    padding-top: 20% !important;
    margin-top: -20% !important;
  }
}
/* .features_tables{
    height: 700px !important;
} */

/* .features_tables{
    padding: 0%;
} */

.Bigtable {
  width: 100%;
  height: 100%;

  position: relative;
}

#features_table {
  width: 100%;
  height: 100%;
}

#table_back {
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: skyblue;
  position: absolute;
  z-index: -1;
}
#table1 {
  /* width: 300px;
    height: 300px; */
  width: 10%;
  height: 80%;
  background-color: blue;
  position: absolute;
  z-index: 1;
}

#table2 {
  left: -70%;
  width: 80%;
  height: 80%;
  background-color: skyblue;
  position: absolute;
  padding-left: 20px;
  text-align: justify;
  text-indent: 1em;
  font-weight: 700;
  color: black;
  z-index: -1;
}

#table3 {
  left: -70%;
  width: 80%;
  height: 80%;
  background-color: pink;
  position: absolute;
  padding-left: 20px;
  text-align: justify;
  text-indent: 1em;
  font-weight: 700;
  color: black;
  z-index: -1;
}

#table4 {
  left: -70%;
  width: 80%;
  height: 80%;
  background-color: lightgreen;
  position: absolute;
  padding-left: 20px;
  text-align: justify;
  text-indent: 1em;
  font-weight: 700;
  color: black;
  z-index: -1;
}
#table5 {
  left: -70%;
  width: 80%;
  height: 80%;
  background-color: plum;
  position: absolute;
  padding-left: 20px;
  text-align: justify;
  text-indent: 1em;
  font-weight: 700;
  color: black;
  z-index: -1;
}
#table6 {
  left: -70%;
  width: 80%;
  height: 80%;
  background-color: orange;
  position: absolute;
  padding-left: 20px;
  text-align: justify;
  text-indent: 1em;
  font-weight: 700;
  color: black;
  z-index: -1;
}
#table7 {
  left: -70%;
  width: 80%;
  height: 80%;
  background-color: rgb(81, 132, 173);
  position: absolute;
  padding-left: 20px;
  text-align: justify;
  text-indent: 1em;
  font-weight: 700;
  color: black;
  z-index: -1;
}
#table8 {
  left: -70%;
  width: 80%;
  height: 80%;
  background-color: greenyellow;
  position: absolute;
  padding-left: 20px;
  text-align: justify;
  text-indent: 1em;
  font-weight: 700;
  color: black;
  z-index: -1;
}
#table9 {
  left: -70%;
  width: 80%;
  height: 80%;
  background-color: aliceblue;
  position: absolute;
  padding-left: 20px;
  text-align: justify;
  text-indent: 1em;
  font-weight: 700;
  color: black;
  z-index: -1;
}
#table_btn2 {
  background-color: rgb(167, 117, 117);
  height: 12.5%;
}
#table_btn3 {
  background-color: yellow;
  height: 12.5%;
}
#table_btn4 {
  background-color: gray;
  height: 12.5%;
}
#table_btn5 {
  background-color: yellow;
  height: 12.5%;
}
#table_btn6 {
  background-color: gray;
  height: 12.5%;
}
#table_btn7 {
  background-color: yellow;
  height: 12.5%;
}
#table_btn8 {
  background-color: gray;
  height: 12.5%;
}
#table_btn9 {
  background-color: yellow;
  height: 12.5%;
}
.drag {
  left: 10% !important;
  opacity: 0.8;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#left_feature {
  background-color: white;
}

.img_set {
  width: 100%;
  height: 100%;
}

.icon_feature {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
  cursor: pointer;
}
